<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
    <div class="container" align="center">
        <h1>记账凭证</h1>
        <div class="col-xs-4 col-sm-offset-4" style="border: 1px solid"></div>
        <div class="col-xs-4 col-sm-offset-4" style="border: 1px solid;margin-top: 1px"></div>
        <div class="col-xs-12" style="margin-top: 10px">
            <div class="col-xs-4">
                <div>
                    <p><span v-text="x">x</span>字 第x号</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div>
                    <p>年   月   日</p>
                </div>
            </div>
            <div>
                <div>
                    <p>附件: <span>x</span>张</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered" >
                <tr>
                    <th align="">摘要</th>
                    <th>会计科目</th>
                    <th>借方金额</th>
                    <th>贷方金额</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-2">
                <p>财务主管:</p>
            </div>
            <div class="col-xs-2">
                <p>记账:</p>
            </div>
            <div class="col-xs-2">
                <p>复核:</p>
            </div>
            <div class="col-xs-2">
                <p>制单:</p>
            </div>
            <div class="col-xs-2">
                <p>出纳:</p>
            </div>
        </div>
    </div>

</body>
<script>

</script>
</html>